#map {width:1440px; height:750px;border:1px dotted #000;}
.land {fill: #32b45c;stroke:#fff;stroke-width:.5px;}
.water {fill: #a4bac7;stroke:#fff;stroke-width:.5px;}
.graticule {fill:none;stroke:#000;stroke-opacity:.3;stroke-width:0;}
#graph {width:720px;height:720px;border:1px dotted #000;margin-top:10px;}