#emulator {width:962px;margin:20px auto 50px;}
footer {clear:both;}

#map {width:960px; height:480px;border:1px dotted #000;
    margin-top:0;clear:left;}
.land {fill: #3ABF96/*009E73*//*32b45c*/;stroke:#fff;stroke-width:.5px;}
.water {fill: #a3d3e8/*56B4E9*//*a4bac7*/;stroke:#fff;stroke-width:.5px;}
.active {fill:#D55E00;}
.graticule {fill:none;stroke:#000;stroke-opacity:.3;stroke-width:0;}

#output,#input,#map {float:left;}
#output {width:636px;height:312px;border:1px dotted #000;margin-top:0;}
#input {margin-right:0;width:324px;height:324px;}
.input {height:150px;width:150px;border:1px #000 dotted;float:left;
    margin:0 10px 10px 0;}

.input-path {stroke:#666;stroke-width:3px;fill:none;}
.output-path {stroke:#666;stroke-width:1px;fill:none;}

#input .active {background-color:#a3d3e8/*5ec4ff;#bce5fa*/;}