{% extends 'base.html' %}
{% block page %}
<article id="wrapper">
  <header class="clearfix">
  <h1><img id="logo" src="{{ url_for('static', filename='images/rdcep_logo.png') }}"><span><mark>RDCEP</mark> Climate Emulator</span></h1>
    <ul id="options">
      <li id="back-to-rdcep">
        <a href="http://www.rdcep.org/">Back to RDCEP</a>
      </li>
      <!--<li id="display-help">Help
        <ul>
          <li><a target="_blank" href="#">RCP Inputs</a></li>
          <li><a target="_blank" href="#">Temperature Output</a></li>
          <li><a target="_blank" href="#">Geographic Regions</a></li>
        </ul>
      </li>
      <li id="view-source"><a href="#">View Source</a></li>-->
    </ul>
  </header>
  <section id="intro">
    <p>
      Our emulators provide compact statistical representations of the
      regional behavior of general circulation models (GCMs) from a number
      of research groups. We have trained the emulator for each model on
      publicly-available output in the CMIP5 archive for simulations of
      scenarios (plausible pathways of CO2 concentration between
      2006&ndash;2100) specified for the IPCC 4th Assessment Report.
      The emulators can then reproduce how the models would respond to
      arbitrary forcing scenarios. We show for illustration emulations of
      four IPCC &lsquo;Representative Concentration Pathways&rsquo; on
      which the emulators were trained, but users can upload their own
      scenarios to explore model responses to changes in CO2 concentration.
    </p>
  </section>
  <div id="emulator">
    <section id="input">
      <h2>
        CO<sub>2</sub> Trajectory (ppm)
      </h2>
      <div><h3>RCP26</h3><div id="RCP26" class="input"></div></div>
      <div><h3>RCP45</h3><div id="RCP45" class="input"></div></div>
      <div><h3>RCP60</h3><div id="RCP60" class="input"></div></div>
      <div><h3>RCP85</h3><div id="RCP85" class="input"></div></div>
      <div><form action="/csv_upload" class="input " id="dz" method="post">
        <p id="dropzone-info" class="dz-message">
          Drop your custom CO<sub>2</sub> data here. <a href id="help-dz" class="help-button">[help]</a>
        </p></form>
      </div>
      <div><h3>CUSTOM</h3><div id="CUSTOM" class="input focused"></div></div>
    </section>
    <section id="output">
      <h2>Projected Temperature Change (&deg;C)&nbsp;
        <span>
          [&nbsp;
          <mark id="relative-temp" class="active">relative</mark>
          &nbsp;|&nbsp;
          <mark id="absolute-temp">absolute</mark>
          &nbsp;]
        </span>
        <img src="/static/images/ajax-loader.gif" alt="AJAX loader" class="ajax-loader">
      </h2>
      <div id="graph"></div>
    </section>
    <section id="models">
      <h2>
        Available climate models
        <span>
          [&nbsp;
          <mark id="regional" class="active">Compare regional data within a model</mark>
          &nbsp;|&nbsp;
          <mark id="global">Compare global means among all models</mark>
          &nbsp;]
        </span>
      </h2>
      <ul class="clearfix">
      </ul>
    </section>
    <section id="map">
      <h2>Select regions to compare</h2>
    </section>
    <footer></footer>
  </div>
<footer>
</footer>
<div id="help-dz-text" class="help-text">
  <p>Your CSV file should contain only 1 row of 96 values, and no header row.</p>
</div>
</article>

{% endblock %}
{% block extrajs %}
<script src="{{ url_for('static', filename='js/vendor/d3.v3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/dropzone.js') }}"></script>
<script>
  Options = window.Options || {};
  Options.active_map_region = [];
  Options.active_map_colors = [];
  Options.region_type = {% if region_type %}'{{ region_type }}'{% else %}'regional'{% endif %}; // RCP45,RCP60,RCP85,CUSTOM
  Options.active_rcp = {% if rcp %}'{{ rcp }}'{% else %}'RCP26'{% endif %}; // RCP45,RCP60,RCP85,CUSTOM
  Options.active_model = {% if model %}'{{ model }}'{% else %}'CCSM4'{% endif %}; // 9 others
  Options.temp_type = {% if temp %}'{{ temp }}'{% else %}'relative'{% endif %}; // absolute
</script>
<script src="{{ url_for('static', filename='js/input.js') }}"></script>
<script src="{{ url_for('static', filename='js/regions.js') }}"></script>
<script src="{{ url_for('static', filename='js/models.js') }}"></script>
<script src="{{ url_for('static', filename='js/emulator_output.js') }}"></script>
<script src="{{ url_for('static', filename='js/emulator_input.js') }}"></script>
<script src="{{ url_for('static', filename='js/emulator_map.js') }}"></script>
<script src="{{ url_for('static', filename='js/emulator_dropzone.js') }}"></script>
<script src="{{ url_for('static', filename='js/emulator_help.js') }}"></script>
{% endblock %}