{% extends 'base.html' %}
{% block page %}
<article id="wrapper">
  <header class="clearfix">
  <h1><span><mark>RDCEP</mark> Emulator</span></h1>
    <ul id="options">
      <li id="back-to-rdcep">
        <a href="http://www.rdcep.org/">Back to RDCEP</a>
      </li>
      <li id="display-help">Help
        <ul>
          <li><a target="_blank" href="#">RCP Inputs</a></li>
          <li><a target="_blank" href="#">Temperature Output</a></li>
          <li><a target="_blank" href="#">Geographic Regions</a></li>
        </ul>
      </li>
      <li id="view-source"><a href="#">View Source</a></li>
    </ul>
  </header>
  <section id="intro">
    <p>
      Global Circulation Models, or GCMs, provide scientific estimates of
      future climates. They incorporate everything scientists know about
      climate from weather to the oceans to ice sheets. Our emulator provides
      a compact statistical representation of these models of future climate.
      We have &lsquo;trained&rsquo; the emulator to reproduce the output of
      the Community Climate System Model 4 GCM experiments. The emulator is
      able to reproduce the climate along four ‘Representative Concentration
      Pathways&rsquo; (RCPs), which are plausible trajectories of
      anthropogenic emissions between 2006 and 2100.
    </p>
  </section>
  <div id="emulator">
    <section id="models">
      <h2>
        Available climate models
        <img src="/static/images/ajax-loader.gif" alt="AJAX loader" class="ajax-loader">
      </h2>
      <ul class="clearfix">
      </ul>
    </section>
    <section id="input">
      <h2>
        CO<sub>2</sub> Trajectory (ppm)
        <img src="/static/images/ajax-loader.gif" alt="AJAX loader" class="ajax-loader">
      </h2>
      <div><h3>RCP26</h3><div id="RCP26" class="input active"></div></div>
      <div><h3>RCP45</h3><div id="RCP45" class="input"></div></div>
      <div><h3>RCP60</h3><div id="RCP60" class="input"></div></div>
      <div><h3>RCP85</h3><div id="RCP85" class="input"></div></div>
      <div><form action="/csv_upload" class="input " id="dz">
        <p id="dropzone-info" class="dz-message">
          Drop your custom CO<sub>2</sub> data here. <a href>[help]</a>
        </p></form>
      </div>
      <div><h3>CUSTOM</h3><div id="CUSTOM" class="input"></div></div>
    </section>
    <section id="output">
      <h2>Projected Temperature Change (&deg;C)&nbsp;
        <span>
          [&nbsp;
          <mark id="relative-temp" class="active">relative</mark>
          &nbsp;|&nbsp;
          <mark id="absolute-temp">absolute</mark>
          &nbsp;]
        </span>
        <img src="/static/images/ajax-loader.gif" alt="AJAX loader" class="ajax-loader">
      </h2>
      <div id="graph"></div>
    </section>
    <section id="map"></section>
    <footer></footer>
  </div>
<footer></footer>
</article>
{% endblock %}
{% block extrajs %}
<script src="{{ url_for('static', filename='js/vendor/d3/d3.v3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/dropzone.js') }}"></script>
<script>
  Options = window.Options || {};
  Options.active_map_region = [];
  Options.active_map_colors = [];
  Options.active_rcp = 'RCP26';
  options.active_model = 'CCSM4';
  Options.temp_type = 'relative';
</script>
<script src="{{ url_for('static', filename='js/input.js') }}"></script>
<script src="{{ url_for('static', filename='js/regions.js') }}"></script>
<script src="{{ url_for('static', filename='js/models.js') }}"></script>
<script src="{{ url_for('static', filename='js/emulator_output.js') }}"></script>
<script src="{{ url_for('static', filename='js/emulator_input.js') }}"></script>
<script src="{{ url_for('static', filename='js/emulator_map.js') }}"></script>
<script src="{{ url_for('static', filename='js/emulator_dropzone.js') }}"></script>
{% endblock %}