<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}RDCEP | Climate Emulator</title>
  <link rel="stylesheet" href="{{ url_for('emulator.static', filename='css/main.css') }}?{{ now }}" media="screen" title="Default Stylesheet">
  <link rel="icon" href="{{ url_for('emulator.static', filename='images/rdcep_logo_16.png') }}">
{#  <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=default"></script>#}
  <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2.min.js') }}"></script>
  {% include 'google_tracking.html' %}
  {% block headcss %}{% endblock %}
  {% block headjs %}{% endblock %}
</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div id=wrapper>
{% block page %}{% endblock %}
</div>

{% block footer %}
{% endblock %}

{% block bodyjs %}
  <script src="/static/js/app/plugins.js"></script>
{% endblock %}
</body>
</html>
