{% extends 'base_page.html' %}
{% block content %}
<section class="text-module" >
  <p>This emulation tool provides statistical representations of the
    behavior of a number of general circulation models (GCMs) from
    different research groups. The emulator is designed to mimic how the
    larger models would have responded, and can provide projections
    of regional temperatures for any user-chosen scenario of future
    CO<sub>2</sub> concentrations.</p>

  <p>The emulator is ‘trained’ on <a href="http://pcmdi9.llnl.gov/" target=_blank>
    publicly-available</a> model simulations of scenarios specified for the
    <a href="http://www.ipcc.ch/report/ar5/" target=_blank>IPCC 5th Assessment
    Report</a>. Users can explore emulated model responses to four IPCC
    scenarios (RCPs 2.6, 4.5, and 8.5) and one scenario of continuous
    exponential growth in CO<sub>2</sub>, or can upload their own
    CO<sub>2</sub> scenarios. Click any of the ‘trajectory’ boxes or drag
    and drop a CO<sub>2</sub> file in the ‘custom’ window. (See
    <a href="{{ url_for('emulator.documentation') }}">documentation</a>
    for instructions and further information.)

  <p style="font-size:.8em;line-height:1.35em;margin-top:1em;">This site is
    currently in beta, and some older browser versions may not support all
    emulator functions. The site works best in Chrome, and Javascript must
    be enabled.</p>

</section>
<div id="emulator">
  <section id="input">
    <h2>
      CO<sub>2</sub> Trajectory (ppm)
    </h2>
    <div id="csv-wrap">
      <form action="{{ url_for('emulator.csv_upload') }}" class="input " id="dz" method="post">
        <p id="dropzone-info" class="dz-message">
          Drop your custom CO<sub>2</sub> data here. <a href id="help-dz" class="help-button">[help]</a>
        </p>
      </form>
    </div>
    <div><h3>CUSTOM</h3><div id="CUSTOM" class="input focused"></div></div>
  </section>
  <section id="output">
    <h2>Projected Temperature Change (&deg;C)&nbsp;
      <span>
        [&nbsp;
        <mark id="relative-temp" class="active">relative</mark>
        &nbsp;|&nbsp;
        <mark id="absolute-temp">absolute</mark>
        &nbsp;]
      </span>
      <img src="{{ url_for('emulator.static', filename='images/ajax-loader.gif') }}" alt="AJAX loader" class="ajax-loader">
    </h2>
    <div id="graph"></div>
  </section>
  <section id="models">
    <h2>
      Available climate models
      <span>
        [&nbsp;
        <mark id="regional" class="active">Compare regional data within a model</mark>
        &nbsp;|&nbsp;
        <mark id="global">Compare global means among all models</mark>
        &nbsp;]
      </span>
    </h2>
    <ul class="clearfix">
    </ul>
  </section>
  <section id="map">
    <h2>Select regions to compare</h2>
  </section>
  <footer></footer>
</div>
<div id="help-dz-text" class="help-text">
  <p>"CO2 scenarios should be uploaded as comma-separated (csv) text
    files, containing annual CO<sub>2</sub> concentrations in parts per
    million (ppm) units. The file can contain any number of years, but plots
    will show only through 2100. If fewer than 96 years are listed, the
    scenario will be extrapolated to 2100. See documentation page for further
    information”</p>
</div>
{% endblock %}